# [Travis CI Documentation](https://docs.travis-ci.com/)

dist: xenial

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - wget
      - pkg-config
      - zip
      - g++
      - zlib1g-dev
      - unzip
      - python
      - clang-format-3.8

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.26.1/bazel_0.26.1-linux-x86_64.deb
  - sudo dpkg -i bazel_0.26.1-linux-x86_64.deb

script:
- bazel build //third_party/quickfix:quickfix_lib
- bazel build //protos:exchange_cc_proto